<!-- Creator: Nicholas Jones -->
<!-- Travis Idle - Edits: commented chat, contacts, and notes buttons on navbar. commented create note buttons on sidebar. -->
<!-- Purpose: A Global Layout for the Website, initialized by _ViewStart -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/css/fontawesome.css">
        <link rel="stylesheet" href="~/lib/css/bootstrap.css" />
        <link href='~/lib/packages/core/main.css' rel='stylesheet' />
        <link href='~/lib/packages/daygrid/main.css' rel='stylesheet' />
        <link href='~/lib/packages/timegrid/main.css' rel='stylesheet' />
        <link href='~/lib/packages/list/main.css' rel='stylesheet' />
        <script src="~/lib/js/jquery-3.4.1.js"></script>
        <script src="~/lib/js/all.js"></script>
        <script src="~/lib/js/bootstrap.bundle.js"></script>
        <script src='~/lib/packages/core/main.js'></script>
        <script src='~/lib/packages/interaction/main.js'></script>
        <script src='~/lib/packages/daygrid/main.js'></script>
        <script src='~/lib/packages/timegrid/main.js'></script>
        <script src='~/lib/packages/list/main.js'></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/css/fontawesome.min.css">
        <link rel="stylesheet" href="~/lib/css/bootstrap.min.css" />
        <link href='~/lib/packages/core/main.min.css' rel='stylesheet' />
        <link href='~/lib/packages/daygrid/main.min.css' rel='stylesheet' />
        <link href='~/lib/packages/timegrid/main.min.css' rel='stylesheet' />
        <link href='~/lib/packages/list/main.min.css' rel='stylesheet' />
        <script src="~/lib/js/jquery-3.4.1.min.js"></script>
        <script src="~/lib/js/all.min.js"></script>
        <script src="~/lib/js/bootstrap.bundle.min.js"></script>
        <script src='~/lib/packages/core/main.min.js'></script>
        <script src='~/lib/packages/interaction/main.min.js'></script>
        <script src='~/lib/packages/daygrid/main.min.js'></script>
        <script src='~/lib/packages/timegrid/main.min.js'></script>
        <script src='~/lib/packages/list/main.min.js'></script>
    </environment>


</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top px-0">

        <button class="btn btn-dark btn-lg p-0 ml-2" type="button" href="#" style="min-width: 72px;" onclick="location.href='@Url.Action("Index", "Home")'">
            <div class="form-inline">
                <span class="">
                    <i class="fas fa-cog fa-spin fa-2x fa-fw"></i>
                </span>
                <span class="align-self-center text-primary" style="font-size: 1.5rem;">Karbon</span>
            </div>
        </button>

        <span>
            <button class="btn btn-dark mx-1 d-sm-inline-block d-md-none d-lg-none" type="button" onclick="location.href='@Url.Action("Index", "Accounts")'">
                <i class="far fa-user-circle fa-2x"></i>
            </button>
            <button class="btn btn-dark mx-1 d-sm-inline-block d-md-none d-lg-none navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </span>

        <div class="collapse navbar-collapse mt-1 mt-sm-0 mx-1 mx-md-0" id="collapsibleNavbar">
            <button class="btn btn-dark" type="button" onclick="location.href='@Url.Action("Index", "Progress")'">Progress</button>
            <button class="btn btn-dark" type="button" onclick="location.href='@Url.Action("Index", "Projects")'">Projects</button>
            <button class="btn btn-dark" type="button" onclick="location.href='@Url.Action("Index", "Tasks")'">Tasks</button>
        </div>

        <div class="col-3 d-none d-lg-block px-0">
            <form asp-action="Index" asp-controller="Search" method="post" defaultbutton="SubmitButton" runat="server">
                <input asp-form="query" class="form-control" type="text" placeholder="Search" name="Query">
                <!--
                        <span asp-validation-for="query"></span>
                -->
                <button id="SubmitButton" type="submit" style="display:none;">Test</button>
            </form>
        </div>

        <!-- what does this button do that the button within the span above doesn't? Answer: It displays on medium and large but, not small -->
        <button class="btn btn-dark mx-1 d-none d-md-block d-lg-block mr-2" type="button" onclick="location.href='@Url.Action("Index", "Accounts")'">
            <i class="far fa-user-circle fa-2x"></i>
        </button>

    </nav>

    <div class="col-12 d-sm-block d-md-block d-lg-none bg-dark px-0">
        <div class="row">
            <div class="col-2">
                <button id="kebab" class="btn btn-dark rounded-0 px-2" type="button">
                    <i class="fas fa-ellipsis-v fa-2x fa-fw"></i>
                </button>
            </div>

            <form class="col-9 px-0 pt-1">
                <input class="form-control" type="text" placeholder="Search">
            </form>
        </div>
    </div>

    <!-- Accounts Error is just letting us know its not setup -->
    <div id="sidebar" class="d-lg-none btn-group mx-2 mb-1" role="group" style="display: none;">
        <button class="btn btn-secondary rounded-0 mt-1" type="button" onclick="location.href='@Url.Action("CreateProject", "Projects")'" style="min-width: 145px;">Create Project</button>
        <button class="btn btn-secondary rounded-0 mt-1" type="button" onclick="location.href='@Url.Action("CreateNote", "Notes")'" style="min-width: 145px;">Note View</button>
        <button class="btn btn-secondary rounded-0 mt-1" type="button" onclick="location.href='@Url.Action("CreateTask", "Tasks")'" style="min-width: 145px;">Create Task</button>
    </div>

    <!-- Accounts Error is just letting us know its not setup -->
    <div class="row">
        <div class="d-none col-lg-2 d-lg-block bg-dark pt-1" style="height: 875px;">
            <button class="btn btn-secondary rounded-0 mt-1" type="button" onclick="location.href='@Url.Action("CreateProject", "Projects")'" style="min-width: 145px;">Create Project</button>
            <button class="btn btn-secondary rounded-0 mt-1" type="button" onclick="location.href='@Url.Action("CreateNote", "Notes")'" style="min-width: 145px;">Note View</button>
            <button class="btn btn-secondary rounded-0 mt-1" type="button" onclick="location.href='@Url.Action("CreateTask", "Tasks")'" style="min-width: 145px;">Create Task</button>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-10 bg-light" style="height: 875px;">
            @RenderBody()
        </div>
    </div>

</body>
</html>

<script>
    var kebabSwitch = false;
    $("#kebab").click(function () {
        if (kebabSwitch) {
            $("#sidebar").css("display", "none");
            kebabSwitch = false;
        }
        else {
            $("#sidebar").css("display", "block");
            kebabSwitch = true;
        }
    });
</script>