<!-- Purpose: A Global Layout for the Website, initialized by _ViewStart -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/css/fontawesome.css">
        <link rel="stylesheet" href="~/lib/css/bootstrap.css" />
        <link href='~/lib/packages/core/main.css' rel='stylesheet' />
        <link href='~/lib/packages/daygrid/main.css' rel='stylesheet' />
        <link href='~/lib/packages/timegrid/main.css' rel='stylesheet' />
        <link href='~/lib/packages/list/main.css' rel='stylesheet' />
        <script src="~/lib/js/jquery-3.4.1.js"></script>
        <script src="~/lib/js/all.js"></script>
        <script src="~/lib/js/bootstrap.bundle.js"></script>
        <script src='~/lib/packages/core/main.js'></script>
        <script src='~/lib/packages/interaction/main.js'></script>
        <script src='~/lib/packages/daygrid/main.js'></script>
        <script src='~/lib/packages/timegrid/main.js'></script>
        <script src='~/lib/packages/list/main.js'></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/css/fontawesome.min.css">
        <link rel="stylesheet" href="~/lib/css/bootstrap.min.css" />
        <link href='~/lib/packages/core/main.min.css' rel='stylesheet' />
        <link href='~/lib/packages/daygrid/main.min.css' rel='stylesheet' />
        <link href='~/lib/packages/timegrid/main.min.css' rel='stylesheet' />
        <link href='~/lib/packages/list/main.min.css' rel='stylesheet' />
        <script src="~/lib/js/jquery-3.4.1.min.js"></script>
        <script src="~/lib/js/all.min.js"></script>
        <script src="~/lib/js/bootstrap.bundle.min.js"></script>
        <script src='~/lib/packages/core/main.min.js'></script>
        <script src='~/lib/packages/interaction/main.min.js'></script>
        <script src='~/lib/packages/daygrid/main.min.js'></script>
        <script src='~/lib/packages/timegrid/main.min.js'></script>
        <script src='~/lib/packages/list/main.min.js'></script>
    </environment>
    <style>
        html,body {
            height: 100%;
        }
    </style>

</head>

<body>
    <nav class="shadow navbar navbar-expand-md bg-dark navbar-light sticky-top px-0">

        <button class="btn btn-dark btn-lg p-0 ml-2" type="button" href="#" style="min-width: 72px;" onclick="location.href='@Url.Action("Index", "Home")'">
            <div class="form-inline">
                <span class="">
                    <i class="fas fa-cog fa-spin fa-2x fa-fw"></i>
                </span>
                <span class="align-self-center text-primary" style="font-size: 1.5rem;">Karbon</span>
            </div>
        </button>

        <span>
            <button class="btn btn-dark mx-1 d-sm-inline-block d-md-none d-lg-none" type="button" onclick="location.href='@Url.Action("Index", "Accounts")'">
                <i class="far fa-user-circle fa-2x"></i>
            </button>
            <button class="btn btn-dark mx-1 d-sm-inline-block d-md-none d-lg-none navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </span>

        <div class="collapse navbar-collapse mt-1 mt-sm-0 mx-1 mx-md-0" id="collapsibleNavbar">
            <button class="btn btn-dark" type="button" onclick="location.href='@Url.Action("Index", "Progress")'">Progress</button>
            <button class="btn btn-dark" type="button" onclick="location.href='@Url.Action("Index", "Projects")'">Projects</button>
            <button class="btn btn-dark" type="button" onclick="location.href='@Url.Action("Index", "Tasks")'">Tasks</button>
        </div>

        <div class="col-3 d-none d-lg-block px-0">
            <form asp-action="Index" asp-controller="Search" method="post" defaultbutton="SubmitButton" runat="server">
                <input asp-form="query" class="form-control" type="text" placeholder="Search" name="Query">
                <!--
                        <span asp-validation-for="query"></span>
                -->
                <button id="SubmitButton" type="submit" style="display:none;">Test</button>
            </form>
        </div>

        <!-- what does this button do that the button within the span above doesn't? Answer: It displays on medium and large but, not small -->
        <button class="btn btn-dark mx-1 d-none d-md-block d-lg-block mr-2" type="button" onclick="location.href='@Url.Action("Index", "Accounts")'">
            <i class="far fa-user-circle fa-2x"></i>
        </button>

    </nav>

    <script>
        $(document).ready(function() {     
            $('#proj1').hide(); 
            $('#proj').click(function () {
                $("#proj1").slideDown();
            });
            $("a").click(function () {
                $("#proj1").slideUp();
            });
        })
    </script>

    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-lg-2 order-first d-none d-lg-block d-xl-block bg-dark">
                <ul class="nav nav-pills flex-column mt-2">
                    <li class="nav-item">
                        <a class="nav-link @Html.Raw(Url.Action().Equals("/Projects") ? "active" : "")" href="@Url.Action("Index","Projects")">Dashboard Home</a>
                        <div class="border-top my-1"></div>
                    </li>
                    <li class="nav-item" id="proj">
                        <a class="nav-link" href="#">Project</a>
                        <ul class="show1" id="proj1">
                            <li>
                                <a class="nav-link show1" href="#">Project1</a>
                            </li>
                            <li>
                                <a class="nav-link show1" href="#">Project2</a>
                            </li>
                        </ul>
                        <div class="border-top my-1"></div>
                    </li>
                    <li class="nav-item" id="task">
                        <a class="nav-link" href="#">Task</a>
                        <div class="border-top my-1"></div>
                    </li>
                    <li class="nav-item" id="notes">
                        <a class="nav-link" href="#">Notes</a>
                        <div class="border-top my-1"></div>
                    </li>
                    <li class="nav-item" id="perm">
                        <a class="nav-link" href="#">Permissions</a>
                        <div class="border-top my-1"></div>
                    </li>
                    <li class="nav-item" id="sett">
                        <a class="nav-link" href="#">Settings</a>
                        <div class="border-top my-1"></div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-10 order-last d-none d-lg-block d-xl-block bg-darkcontainer-fluid mt-3">
                @RenderBody()
            </div>
        </div>
    </div>


</body>
</html>

<script>
    var kebabSwitch = false;
    $("#kebab").click(function () {
        if (kebabSwitch) {
            $("#sidebar").css("display", "none");
            kebabSwitch = false;
        }
        else {
            $("#sidebar").css("display", "block");
            kebabSwitch = true;
        }
    });
</script>