@model AccountViewModel

@{
    ViewBag.Title = "Account Details";
}

<div>
    <h3>@Model.PageTitle</h3>
    <div>
        User Name: @Model.Account.Username
    </div>

    <div>
        First Name: @Model.Account.FirstName
    </div>

    <div>
        Last Name: @Model.Account.LastName
    </div>

    <div>
        Email: @Model.Account.Email
    </div>

    <div>
        Password: @Model.Account.Password
    </div>
</div>


