<!-- Creator: Nicholas Jones-->

@model AccountsViewModel

@{
    ViewBag.Title = "Accounts Details";
}

<!-- Debugging Only... Shows If Account Was successfull stored in DB-->

    <div>
        <h3>@Model.PageTitle</h3>

        <div>
            User Name: @Model.Accounts.Username
        </div>

        <div>
            First Name: @Model.Accounts.FirstName
        </div>

        <div>
            Last Name: @Model.Accounts.LastName
        </div>

        <div>
            Password: @Model.Accounts.Password
        </div>

        <div>
            Password2: @Model.Accounts.Password2
        </div>

        <div>
            Email: @Model.Accounts.Email
        </div>

        <div>
            Role: @Model.Accounts.Role
        </div>

        <div>
            Skills: @Model.Accounts.Skills
        </div>

        <div>
            Theme: @Model.Accounts.Theme
        </div>

        <div>
            PicturePath: @Model.Accounts.PicturePath
        </div>

    </div>


